
*{
  margin: 0 auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }

ul{
  position: fixed;
  width: 100vw;
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  opacity: 5px;
}

li a {
  display: block;
  text-align: center;
  padding: 30px;
  font-family: 'Lato';
  color: #efcbc5;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  transition: .5s;
}

a:hover{
  color: white;
}

.logo{
  color: white;
  height: 100px;
  padding: 10px;
  margin-right: 90vw;
  padding-left: 30px;
  position: fixed;
  transition: .8 cubic-bezier(.38,.01,0,.99);
}

.logo:hover{
  transition: 0.4s;
  transform: rotateY(180deg);
}

a{
  text-decoration: none;
}


h1{
  font-family: 'Lato';
  color: #A68C8A;
  font-weight: 900;
  font-size: 45px;
  text-align: left;
  padding-left: 250px;
  padding-top:13vh;
  padding-bottom: 20px;
  z-index:999;
}


.captions{
  font-family: 'Lato';
  color: grey;
  text-align: center
}

.carousel {
  background: #0D0D0D;
}

.carousel-cell {
  width: 66%;
  height: 700px;
  margin-right: 20px;
  background: #0D0D0D;
}

.carousel-cell-image.inactive {
  opacity: 0;
  transition: 2s;
  -webkit-transition: opacity 0.4s;
        transition: opacity 0.4s;
}

.carousel-cell-image.active {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;

}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}

.footer{
  padding-top:50px;
  width: 100vw;
  height: 100px;
/*   justify-content: center; */
  text-align: center;
}

.footer a{
  font-family: 'Lato';
  font-weight: 900;
  font-size: 30px;
  color: white;
  padding: 30px;
}

.footer a:hover{
  color: #efcbc5;
}
